a {
  text-decoration: none;
}

.custom-scroll {
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
}

.dark-color {
  background-color: #272727;
}

.border-1 {
  border: 1px solid #272727;
  border-radius: 15px;
}

.border-2 {
  border: 1px solid #ff0000;
  border-radius: 20%;
}

.gradient-transp {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 20%,
    rgba(255, 255, 255, 0) 100%
  );
}

.pointer {
  cursor: pointer;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-border {
  border-bottom: 1px solid red !important;
}

.black-gradient {
  background: rgb(46, 46, 46);
  background: linear-gradient(0deg, rgb(22, 22, 22) 0%, rgba(0, 0, 0, 1) 100%);
}

.golden-gradient {
  background: linear-gradient(to right, #ffd700, #f4a460);
}

.poster {
  max-height: 300px !important;
  min-height: 300px !important;
  max-width: 200px !important;
  min-width: 200px !important;
}
